[submodule ".vim/bundle/tagbar"]
	path = .vim/pack/foo/start/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/pack/foo/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".zsh-syntax-highlighting"]
	path = .zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/vim-filebeagle"]
	path = .vim/pack/foo/start/vim-filebeagle
	url = https://github.com/jeetsukumaran/vim-filebeagle.git
[submodule ".vim/bundle/quickfixsigns_vim"]
	path = .vim/pack/foo/start/quickfixsigns_vim
	url = https://github.com/tomtom/quickfixsigns_vim.git
[submodule ".vim/pack/foo/start/ale"]
	path = .vim/pack/foo/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/foo/start/detectindent"]
	path = .vim/pack/foo/start/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule ".vim/pack/foo/start/diffconflicts"]
	path = .vim/pack/foo/start/diffconflicts
	url = https://github.com/whiteinge/diffconflicts.git
[submodule ".vim/pack/foo/start/vim-caser"]
	path = .vim/pack/foo/start/vim-caser
	url = https://github.com/arthurxavierx/vim-caser.git
[submodule ".vim/pack/foo/start/undotree"]
	path = .vim/pack/foo/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "tmp/repos/pick"]
	path = tmp/repos/pick
	url = https://github.com/mptre/pick.git
[submodule "tmp/repos/xsct"]
	path = tmp/repos/xsct
	url = https://github.com/faf0/sct.git
[submodule "tmp/repos/xcape"]
	path = tmp/repos/xcape
	url = https://github.com/alols/xcape.git
[submodule "tmp/repos/dswitcher"]
	path = tmp/repos/dswitcher
	url = https://github.com/Excerion/dswitcher.git
[submodule "tmp/repos/cwm"]
	path = tmp/repos/cwm
	url = https://github.com/leahneukirchen/cwm.git
[submodule "tmp/repos/click"]
	path = tmp/repos/click
	url = https://github.com/minond/click.git
[submodule "tmp/repos/ghcup"]
	path = tmp/repos/ghcup
	url = https://gitlab.haskell.org/haskell/ghcup.git
[submodule ".nodenv"]
	path = .nodenv
	url = https://github.com/nodenv/nodenv.git
