# Prefix commands with GIT_TRACE=1 to debug performance.

[user]
    email = seth@eseth.com
    name = Seth House

[push]
    default = current

[alias]
    b = branch -vv --sort=-committerdate
    ca = commit --amend --no-edit
    cm = commit --amend -o
    ci = commit
    co = checkout
    d = diff --summary --stat --patch
    ds = d --cached
    f = fetch --tags --all
    ff = merge --ff-only
    m = merge --no-ff
    mt = mergetool
    p = push
    pushnoci = push -o ci.skip
    r = rebase --autosquash
    rh = reset --hard
    short = rev-parse --short
    ref = rev-parse --symbolic-full-name
    sh = show --summary --stat --pretty=fuller --patch
    st = status -s -b
    sti = status -s -b --ignored
    stat = diff --stat
    sl = stash list --name-status --pretty='format:%gd [%ar]: %s'
    uncommit = reset HEAD~1
    lasttag = describe --abbrev=0

    editc = quickfix
    editm = quickfix -m modified
    edits = quickfix -m staged
    pg = pagediffs

    l = log --format=format:'%C(auto)%h%d%C(reset) %s %C(bold blue)(%an, %ar)%C(reset)'
    ll = log --stat --decorate --abbrev-commit --date=relative
    lll = log -p --stat --decorate --color-moved --pretty=fuller
    lt = l --topo-order
    lm = log --oneline --decorate --topo-order --merges --ancestry-path

    rl = reflog --date=relative
    rll = reflog --date=relative --stat
    rlll = reflog --date=relative -p --stat --color-moved

    # Show the Git log and automatically shorten & search for a SHA:
    #   git lf deb8dff8d8c1ed8acb7d7a2ec1158e7db136aab3
    lf = "!_() { GIT_PAGER=\"$PAGER -p $(git short $1)\" git l; };_"
    ltf = "!_() { GIT_PAGER=\"$PAGER -p $(git short $1)\" git lt; };_"

    # Output alias definitions. Usage: git which st
    which = "!_() { git config --global --get alias.$1; };_"

    # Output all the changes since the most recent tag as a Markdown list:
    # git changelog
    # git changelog HEAD~5...
    changelog = "!_() { \
        range=${1:-$(git lasttag)...HEAD}; \
        printf 'Changes since %s\n\n' $range; \
        git --no-pager log --reverse --no-merges --oneline \
            --pretty=format:'- %s' \
            $range; \
        printf '\n'; \
    };_"

    # Cherry-pick a commit into the working directory as unstaged changes.
    cherry-patch = "!_() { git show \"${1:?Missing revision}\" | git apply; };_"

    # Use a fuzzy-finder to find a SHA to use for a fixup commit.
    fixup = !git l @{u}.. | fzy | awk '{ print $1 }' | xargs -I{} git ci --fixup={}

    # Perform a merge in-memory and output if conflicts are found (dry-run):
    #   git mergetest otherbranch
    mergetest = "!_() { \
        git merge-tree \
            $(git merge-base ${1:?Missing branch} HEAD) \
            $1 HEAD \
        | awk '/<<<<<<</ { exit 1 }'; \
    }; _"

    # Fuzzy-find any Git ranges in the tmux scrollback then re-output as an
    # in-progress git log command.
    # Usage: git fetch && git frefs
    frefs = "!scrollback | match-git-range | uniq | fzy | tr -d \\\\n \
        | xargs -I{} tmux send git Space l Space {} Space"

    # http://tbaggery.com/2011/08/08/effortless-ctags-with-git.html
    ctags = !.git/hooks/ctags

    # Alias to make an archive with a prefix set to the name of the repo.
    # git tar <ref> (defaults HEAD)
    tar = "!zsh -c 'REF=${1:-HEAD}; \
        BASE=$(basename $(git rev-parse --show-toplevel)); \
        git archive --prefix=${BASE}/ -o ${BASE}-$(git describe ${REF}).tar.gz ${REF}' -"

    # Merge a GitHub pull request into the current branch.
    # Usage: git preq <preq>
    # Usage: git preq <preq> [<remote>]
    preq = "!_() { git pull --no-ff ${2:-origin} refs/pull/${1:?Missing preq}/head; };_"
    # Same thing but for GitLab:
    mreq = "!_() { git pull --no-ff ${2:-origin} refs/merge-requests/${1:?Missing preq}/head; };_"

    # Make a local branch from a remote branch somewhere on GitHub.
    # Usage git ghbranch username reponame remotebranchname localbranchname
    ghbranch = "!_() { \
        git fetch git@github.com:${1:?Missing user}/ \
        ${2:?Missing repo}.git \
        ${3:?Missing remote branch}:${4:?Missing local branch}; \
    };_"

    # Configure local clone to also make local refs for all GitHub pull
    # requests for the specified remote
    # Usage: git addprrefs upstream; git fetch upstream; git show upstream/pr/13
    addprrefs = "!_() { git config --add remote.${1:?Missing remote}.fetch \
        \"+refs/pull/*/head:refs/remotes/${1}/pr/*\"; \
    };_"

[commit]
    verbose = 2

[core]
    excludesfile = ~/.gitignore

[color]
    ui = auto

[init]
    # Use full path to dotfiles instead of the path to the symlinks in my
    # homedir. This causes the target template files to get copied into new
    # repos rather than copying the symlinks to those template files.
    templatedir = ~/src/dotfiles/.git_template

[pager]
    # Don't paginate the oneline log output if less than one page.
    l = $PAGER -F
    lt = $PAGER -F
    b = $PAGER -F
    branch = $PAGER -F
    sl = $PAGER -F
    stat = $PAGER -F
    rl = $PAGER -F

[merge]
    tool = diffconflicts

[mergetool]
    keepBackup = false

[mergetool "vimdiff1"]
    hideResolved = true

[mergetool "diffconflicts"]
    cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
    trustExitCode = true
    hideResolved = false

[diff]
    tool = vimdiff
    colorMoved = true

# If Git::LoadCPAN is not packaged for your distro:
# export PERL5LIB=/path/to/git/clone/perl
# [sendemail]
#     smtpencryption = tls
#     smtpserver = server
#     smtpuser = user
#     smtpserverport = port

[include]
    path = ~/.gitemailconfig
    path = ~/.gitconfig-customize
