# Local ignores for my installed dotfiles.
# (Paths relative to $HOME.)

# Progs I often compile and install myself:
/bin/csvheader
/bin/csvquote
/bin/cwm
/bin/fzy
/bin/lr
/bin/view
/bin/vim
/bin/vimdiff
/bin/vimtutor
/bin/xcape
/bin/xclip
/bin/xe

# Misc repos; move to ~/opt/repos to save.
/var/repos

# Cache files from my own scripts:
/var/cache/devdocs.io
/var/cache/mthesaur.txt
/var/cache/emoji.cache
/var/cache/venvs

# Config dirs I won't ever version control:
/.config/Code
/.config/GIMP
/.config/godot
/.config/Google
/.config/configstore
/.config/google-chrome
/.config/gtk-2.0
/.config/inkscape
/.config/Keybase
/.config/libreoffice
/.config/microsoft-edge
/.config/Microsoft/Microsoft Teams
/.config/mpv/watch_later
/.config/Mullvad VPN
/.config/pulse
/.config/wslu

# Common files that won't ever be version-controlled or cleaned:
/.bash_history
/.crawl
/.lesshst
/.mbsyncpasswd.gpg
/.mutt/passwords.gpg
/.netrc
/.node_repl_history
/.php_history
/.pyhistory
/.ssh/authorized_keys
/.ssh/*.conf
/.ssh/id_*
/.ssh/known_hosts
/.ssh/ssh-auth-sock
/.sudo_as_admin_successful
/.units_history
/.vdirsyncer/passwords.gpg
/.viminfo
/.vim/swapdir
/.vim/undodir
/.vim/spell/*.add.spl
/.wget-hsts
/.zcompdump
/.zsh_customize
/.zsh_history

# Misc UNIX staples I don't care about:
/.dbus
/.gnome
/.gnupg
/.java
/.pki

# Third party progs I don't care to see:
/.android
/.audacity-data
/.aws
/.aws-cli
/.cache
/.cargo
/.docker
/.dotnet
/.local/share/applications
/.local/share/gnome-shell
/.local/share/recently-used.xbel
/.local/share/Steam
/.local/share/virtualenv
/.mozilla
/.nodejs
/.npm
/.slocdata
/.steam
/.var/app/us.zoom.Zoom
/.vmodules
/.vscode-server
/.zoom

# Stupid, annoying, terrible path defaults:
/go
/snap

# Common OS dirs:
/Applications
/Contacts
/Desktop
/Documents
/Downloads
/Games
/Mail
/Movies
/Music
/Pictures
/Steam
/Videos

/share
/src
