[user]
    email = seth@eseth.com
    name = Seth House

[alias]
    st = status -s -b
    ci = commit
    co = checkout
    d = diff
    b = branch -v
    f = fetch --all

    l = log --pretty=format:\"%C(yellow)%h %C(green)%d%Creset %s  %C(black bold)%an, %ar%Creset\"
    ll = !git l --graph
    lll = log --stat --decorate
    ls = log --oneline --topo-order
    rl = reflog  --date=relative 

    # new commits after you fetched
    lc = log ORIG_HEAD.. --stat --no-merges

    serve = !git daemon --base-path=$(git rev-parse --show-toplevel) --export-all

    ### Custom Git commands (found in ~/bin)
    # Push only the current branch to the upstream branch
    p = pushcurrent

    # Show individual diffs for all incoming/outgoing changesets
    in = pagediffs ..@{u}
    out = pagediffs @{u}..

[core]
    excludesfile = /home/shouse/.gitignore

[color]
    diff = auto
    status = auto
    branch = auto

[sendemail]
    smtpencryption = tls
    smtpserver = smtp.gmail.com
    smtpuser = whiteinge@gmail.com
    smtpserverport = 587

[merge]
    tool = vimdiffunmerge

[mergetool "vimdiffunmerge"]
    cmd = unmerge.sh vim $BASE $LOCAL $REMOTE $MERGED
    trustExitCode = true

[mergetool "gvimdiffunmerge"]
    cmd = unmerge.sh gvim $BASE $LOCAL $REMOTE $MERGED
    trustExitCode = true
