[submodule ".zsh-syntax-highlighting"]
	path = .zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmp/repos/fzy"]
	path = opt/repos/fzy
	url = https://github.com/gpanders/fzy.git
	branch = multiselect
[submodule "tmp/repos/lr"]
	path = opt/repos/lr
	url = https://github.com/leahneukirchen/lr.git
[submodule "tmp/repos/xe"]
	path = opt/repos/xe
	url = https://github.com/leahneukirchen/xe.git
[submodule "tmp/repos/csvquote"]
	path = opt/repos/csvquote
	url = https://github.com/dbro/csvquote.git
[submodule "opt/repos/lvi"]
	path = opt/repos/lvi
	url = https://github.com/whiteinge/lvi.git
