! --- aterm settings
aterm*background: black
aterm*foreground: white
aterm*transparent: true
aterm*scrollBar: false
aterm*loginShell: true
aterm*shading: 30

! --- xterm settings
xterm*background: black
xterm*foreground: white
xterm*scrollBar: false
xterm*loginShell: true
xterm*faceName: Monaco
xterm*faceSize: 11
xterm*cursorColor: red
! blue is usually too dark to see. this fixes that
xterm*color4: RoyalBlue
xterm*color12: RoyalBlue

! --- rxvt settings
rxvt*background: black
rxvt*foreground: white
rxvt*scrollBar: false
rxvt*loginShell: true
rxvt*faceName: Monaco
rxvt*faceSize: 11
rxvt*cursorColor: red
! blue is usually too dark to see. this fixes that
rxvt*color4: RoyalBlue
rxvt*color12: RoyalBlue

! --- mrxvt settings
mrxvt*background: black
mrxvt*foreground: white
mrxvt*scrollBar: false
mrxvt*loginShell: true
mrxvt*autohideTabbar: true
mrxvt*syncTabTitle: true
mrxvt*hideButtons: true
mrxvt*cursorBlink: true
mrxvt*font: Monaco
mrxvt*faceSize: 11
mrxvt*cursorColor: red
mrxvt*xft:True
mrxvt*xftFont: Monaco
mrxvt*xftSize:12
mrxvt*xftAntialias:True
mrxvt*termName: xterm-256color
! blue is usually too dark to see. this fixes that
mrxvt*color4: RoyalBlue
mrxvt*color12: RoyalBlue

! --- yeahconsole settings :-)
yeahconsole*term: xterm
yeahconsole*toggleKey: Alt+Grave
yeahconsole*screenWidth: 1024
