! The best, goddamn Xresources file in the whole world.
! Author: Seth House <seth@eseth.com>
! -----------------------------------------------------------------------------


! --- Xft {{{1
! -----------------------------------------------------------------------------
! calculate dpi with xdpyinfo | grep resolution
Xft*dpi: 90
Xft*antialias: true
Xft*hinting: true
! font-dependant. also try hintslight, hintsfull, hintsmedium, or hintsnone.
Xft*hintstyle: hintfull
! set to vrgb for subpixel hinting on LCDs, or none on CRTs
Xft*rgba: none
! Choices: lcdnone, lcddefault, lcdlight, lcdlegacy
Xft.lcdfilter: lcddefault


! --- Xcursor {{{1
! -----------------------------------------------------------------------------
Xcursor.theme: ComixCursors-Orange-Regular-Slim


! --- xterm {{{1
! -----------------------------------------------------------------------------
xterm*utf8: 1
xterm*eightBitInput: true
! allows you to use meta keys in irssi like alt-1, alt-2, etc
! but replaces using alt to insert utf characters, so is commented out
! an alternative is to hit esc. then hit the desired meta key like 1 or 2
! xterm*metaSendsEscape: true
xterm*background: grey9
xterm*foreground: white
xterm*scrollBar: false
xterm*loginShell: true
! Enables True-Type rendering
xterm*renderFont: true
xterm*faceName: Monaco
xterm*faceSize: 10
xterm*cursorColor: red
xterm*cursorUnderline: true
xterm*cursorBlink: true
! Scroll multiple lines at a time for faster redrawing
xterm*jumpScroll: true
xterm*multiScroll: true
! fixes too dark blue
xterm*color4: DodgerBlue1
xterm*color12: SteelBlue1
! trim whitespace from selection before copying
xterm*trimSelection: true
! Hold Shift to use CLIPBOARD instead of PRIMARY to copy or paste
! Change font size with ctrl-+/-/= (or mousewheel).
! Add a few alt- shortcuts for quick access to special characters
xterm*vt100.Translations: #override \n\
    ~Shift~Ctrl<Btn2Up>: insert-selection(PRIMARY, CUT_BUFFER0) \n\
    Shift~Ctrl<Btn2Up>: insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
    ~Shift<BtnUp>: select-end(PRIMARY, CUT_BUFFER0) \n\
    Shift<BtnUp>: select-end(CLIPBOARD, CUT_BUFFER1) \n\
    Shift Ctrl <Key> =: larger-vt-font() \n\
    Shift Ctrl <Key> -: smaller-vt-font() \n\
    Shift Ctrl <Key> 0: set-vt-font(d) \n\
    Ctrl <Btn4Down>: larger-vt-font() \n\
    Ctrl <Btn5Down>: smaller-vt-font() \n\
    Meta ~Shift <Key> bracketleft: string("‘") \n\
    Meta ~Shift <Key> bracketright: string("’") \n\
    Meta Shift <Key> bracketleft: string("“") \n\
    Meta Shift <Key> bracketright: string("”") \n\
    Meta ~Shift <Key> period: string("…") \n\
    Meta ~Shift <Key> -: string("—") \n\
    Meta Shift <Key> -: string("–") \n\
    Meta ~Shift <Key> exclam: string("¡") \n\
    Meta ~Shift <Key> question: string("¿") \n\
    Meta ~Shift <Key> o: string("°") \n\
    Meta ~Shift <Key> t: string("™") \n\
    Meta ~Shift <Key> c: string("©") \n\
    Meta ~Shift <Key> x: string("×")
! NOTE: the above prevents text from being selected without also holding shift.
! Matches URLs and emails and selects them on double-click
xterm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:38
! Define the size increments used when changing font size
xterm*faceSize1: 6
xterm*faceSize2: 8
xterm*faceSize3: 10
xterm*faceSize4: 12
xterm*faceSize5: 16
xterm*faceSize6: 24
! map the tab key to escape in xterm (becase we can!)
! xterm.vt100.translations: #override\n\
!        <Key>Tab: string("\033")\n\


! --- xmessage {{{1
! -----------------------------------------------------------------------------
xmessage*form.okay.shapeStyle: rectangle
xmessage*form.okay.background: IndianRed
xmessage*form.okay.foreground: rgb:e/b/b
xmessage*message*background: ivory3
xmessage*background: gray85
xmessage*foreground: gray15
xmessage*Scrollbar.width: 10
xmessage*Scrollbar.borderWidth: 1
xmessage*Text.?.cursorColor: rgb:d/5/5
xmessage*Text.borderColor: gray65
xmessage*Text*background: gray95
xmessage*Command.highlightThickness: 1
xmessage*Command.internalWidth: 5
xmessage*Command.internalHeight: 3
xmessage*Command.borderColor: gray40
xmessage*Command.shapeStyle: Rectangle
xmessage*Command.background: gray80
xmessage*faceName: Monaco
xmessage*faceSize: 12
xmessage*message.scrollVertical: Always
xmessage*message.scrollHorizontal: Never
! add keyboard shortcuts to easily quit program
xmessage*baseTranslations:#augment\
        <Key>Return:exit()\n\
        <Key>space:exit()


! --- xmag {{{1
! -----------------------------------------------------------------------------
xmag*source: 100x100
xmag*Command.background: gray85
xmag*Command.foreground: gray15
xmag*Label.foreground: rgb:e/b/b
xmag*Label.background: IndianRed
xmag*paste.background: ivory3
xmag*helpLabel.background: gray80
xmag*helpLabel.foreground: gray40
! opens the window at the bottom right
xmag*geometry: -0-0
! automatically show the hex color and set up some keyboard shortcuts
xmag*Scale.baseTranslations:#augment\
        <EnterWindow>:popup-pixel()\n\
        <Motion>:update-pixel()\n\
        <Key>q:close()\n\
        Ctrl<Key>c:close()\n\
        <Key>space:replace()


! --- xcalc {{{1
! -----------------------------------------------------------------------------
xcalc*ti.button1.vertDistance: 4
xcalc*ti.button2.vertDistance: 4
xcalc*ti.button3.vertDistance: 4
xcalc*ti.button4.vertDistance: 4
xcalc*ti.button5.vertDistance: 4
xcalc*ti.background: gray90
xcalc*ti.bevel.borderColor: gray65
xcalc*ti.bevel.borderWidth: 1
xcalc*ti.bevel.vertDistance: 4
xcalc*ti.bevel.defaultDistance: 0
xcalc*ti.bevel.background: rgb:b/c/b
xcalc*ti.bevel.screen*background: rgb:b/c/b
xcalc*ti.bevel.screen.borderColor: rgb:b/c/b
xcalc*ti.bevel.screen.vertDistance: 10
xcalc*ti.bevel.screen.horizDistance: 10
xcalc*ti.bevel.screen*left: chainLeft
xcalc*ti.bevel.screen*right: chainRight
xcalc*ti.bevel.screen*top: chainTop
xcalc*ti.bevel.screen*bottom: chainBottom
xcalc*ti.bevel.screen*LCD.foreground: gray10
xcalc*ti.bevel.screen*INV.vertDistance: 0
xcalc*ti.Command.borderColor: gray65
xcalc*ti.Command.background: gray85
xcalc*ti.Command.foreground: gray30
xcalc*ti.button5.background: rgb:e/b/b
xcalc*ti.button20.background: rgb:e/d/c
xcalc*ti.button25.background: rgb:e/d/c
xcalc*ti.button30.background: rgb:e/d/c
xcalc*ti.button35.background: rgb:e/d/c
xcalc*ti.button40.background: rgb:b/b/e
xcalc*ti.button22.background: gray95
xcalc*ti.button23.background: gray95
xcalc*ti.button24.background: gray95
xcalc*ti.button27.background: gray95
xcalc*ti.button28.background: gray95
xcalc*ti.button29.background: gray95
xcalc*ti.button32.background: gray95
xcalc*ti.button33.background: gray95
xcalc*ti.button34.background: gray95
xcalc*ti.button37.background: gray95
xcalc*ti.button38.background: gray95
xcalc*ti.button39.background: gray95


! --- xpdf {{{1
! -----------------------------------------------------------------------------
xpdf*initialZoom: page
xpdf*urlCommand: firefox %s
xpdf*textEncoding: utf-8
xpdf*enableFreetype: yes
xpdf*antialias: yes
xpdf*viKeys: on


! --- gv {{{1
! -----------------------------------------------------------------------------
gv*antialias: true


! --- xman {{{1
! -----------------------------------------------------------------------------
xman*topBox: false
xman*background: SlateGray
xman*foreground: Linen


! --- xload {{{1
! -----------------------------------------------------------------------------
xload*update: 1
xload*highlight: grey50
xload*borderWidth: 1
xload*background: #ceccc7
xload*padding: 3


! --- xclock {{{1
! -----------------------------------------------------------------------------
xclock*analog: false
xclock*brief: true
xclock*foreground: white
xclock*background: black

! --- xscreensaver {{{1

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y


! --- xdm {{{1
! -----------------------------------------------------------------------------
! The default xdm screen is beautiful. Empty your /etc/X11/xdm/Xresources.
xlogin*greeting: Welcome to Fhloston Paradise
xlogin*allowRootLogin: false
xlogin*allowNullPasswd: false


! --- Color scheme {{{1
! #include ".Xresources-colors-muted"

