<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="randr-menu" label="randr" execute="~/.openbox/pipemenus/ob-randr.py" />
<menu id="date-menu" label="date" execute="~/.openbox/pipemenus/date-menu.sh" />
<menu id="proc-menu" label="kill" execute="~/.openbox/pipemenus/processes.py" />
<menu id="batt-menu" label="batt" execute="~/.openbox/pipemenus/batt.sh" />
<menu id="dir-menu" label="dir" execute="~/.openbox/pipemenus/dir-menu ~" />
<menu id="mpd-menu" label="mpd" execute="~/.openbox/pipemenus/ob-mpd.py"/>

<menu id="apps-menu" label="applications">
  <item label="uxterm">
    <action name="Execute"><command>uxterm</command></action>
  </item>
  <item label="firefox">
      <action name="Execute">
          <startupnotify><enabled>yes</enabled></startupnotify>
          <command>firefox</command>
      </action>
  </item>
  <item label="chrome">
      <action name="Execute">
          <startupnotify><enabled>yes</enabled></startupnotify>
          <command>chromium-browser --enable-extension-timeline-api</command>
      </action>
  </item>

  <separator />

  <item label="gimp">
      <action name="Execute">
          <startupnotify><enabled>yes</enabled></startupnotify>
          <command>gimp</command>
      </action>
  </item>
  <item label="inkscape">
      <action name="Execute">
          <startupnotify><enabled>yes</enabled></startupnotify>
          <command>inkscape</command>
      </action>
  </item>

  <separator />

  <item label="gpodder">
      <action name="Execute">
          <startupnotify><enabled>yes</enabled></startupnotify>
          <command>gpodder</command>
      </action>
  </item>
  <item label="gmpc">
    <action name="Execute"><command>gmpc</command></action>
  </item>
</menu>

<menu id="games-menu" label="games">
  <item label="minecraft">
      <action name="Execute">
          <command>java -jar ~/games/Minecraft.jar</command>
          <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
  </item>
  <item label="guild wars">
      <action name="Execute">
          <command>gw</command>
          <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
  </item>
</menu>

<menu id="x-menu" label="x.org">
    <item label="screenshot">
        <action name="Execute"><command>import $HOME/screenshot.png</command></action>
    </item>
    <item label="xmag">
        <action name="Execute"><command>xmag</command></action>
    </item>
</menu>

<menu id="root-menu" label="openbox 3">
  <separator label="openbox" />
  <menu id="apps-menu" />
  <menu id="games-menu" />
  <menu id="x-menu" />
  <separator />
  <menu id="randr-menu" />
  <menu id="date-menu" />
  <menu id="batt-menu" />
  <menu id="proc-menu" />
  <menu id="dir-menu" />
  <menu id="mpd-menu" />
  <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="ObConf">
    <action name="Execute">
      <startupnotify><enabled>yes</enabled><icon>openbox</icon></startupnotify>
      <command>obconf</command>
    </action>
  </item>
  <item label="reconfigure">
    <action name="Reconfigure" />
  </item>
  <separator />
  <item label="exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
