# Flesh out more vi-mode keybindings.
KEYMAP:^F:NEXT_PAGE
KEYMAP:^B:PREV_PAGE
KEYMAP:^Y:UP_TWO
KEYMAP:^E:DOWN_TWO
KEYMAP:^U:UP_HALF
KEYMAP:^D:DOWN_HALF
KEYMAP:g:HOME
KEYMAP:G:END

# Note: To navigate to a document fragment don't append it to the URL (like you
# might expect, e.g.: index.html#foo) but rather replace the entire URL with
# just the fragment (e.g. #foo).
KEYMAP:^L:ECGOTO
